/* ATENÇÃO!!!
ESSE ARQUIVO É O CSS PADRÃO, OU SEJA, CSS QUE SERÁ PADRÃO PARA O FRONTEND CASO NÃO SEJA ESCOLHIDO UM 
ESPECÍFICO EM ALGUM LUGAR, PORTANTO NÃO MEXA AQUI, SOMENTE COM AUTORIZAÇÃO DO GRUPO TODO */

@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Open+Sans&display=swap');

@import "tailwindcss";

@theme {
  --font-huninn: "Huninn", "Heveltica", "Arial", "sans-serif";
  --font-opensans: "Open Sans", "Heveltica", "Arial", "sans-serif";
}

* {
  box-sizing: border-box;
}

body {
  @apply font-opensans bg-[#444] bg-linear-to-br from-[#444] via-[#222] to-[#4e1900] bg-fixed bg-cover bg-center bg-no-repeat text-[#f0f2f5];
}

::selection {
  @apply bg-orange-500;
}

body.white {
  @apply bg-[#c0c0c0] bg-linear-to-br from-[#c0c0c0] via-[#7c7c7c] to-[#4e1900] text-[#232424]
}